body {
 margin: 0;
 font-family: 'source Sans Pro';
 backgorund-color: black;
}

a {
  text-decoration: none;
  color: rgb(241, 241, 241)
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(104, 15, 206);
  padding: 8px 12px;
}

.navbar__logo {
  font-size: 36px;
 


}

.navbar__menu{

  display: flex;
  list-style: none;
  padding-left: 0;

}

.navbar__menu li {
  padding: 8px 12px;

}

.navbar__menu li:hover {
   background-color: #130505;
   border-radius: 6px;

}

.navbar__icons {
  list-style: none;
  display: flex;
  padding-left: 0;
  
  

}

.navbar__icons li {
 padding: 8px 5px;
 font-size: 40px;

}
.picture li {
 text-align: center;
 list-style: none;
}
 
.picture img {
    border-radius: 50%;
    width:350px;
    height:350px;
}

.about li {

    list-style: none;
 font-size: 30px;
 text-align: center;
 padding: 5px 0px;
 color: rgb(19, 97, 77); 

}
 

.pr li {
 font-size: 42px;
 list-style: none;
 text-align: center;
 padding: 34px 5px;
 color: rgb(8, 129, 123)
}

.sr li{
 list-style: none;
 font-size: 20px;
 text-align: center;
 color: #8C8C8C;
}

.text li{
 list-style: none;
 font-size: 15px;
 text-align: center;
 padding: 5px 0px;


}

.finish li{
    
    list-style: none;
    font-size: 20px;
    text-align: center;
    padding: 5px 0px;
    color:blue;
}

.ga li{
    list-style: none;
    font-size: 45px;
    text-align: center;
    padding: 5px 0px;
    color: rgb(8, 129, 123);
    }

.skkk li {
  text-align: center;
  list-style: none;
  font-size: 45px;
  padding: 35px 0px;
  color: rgb(8, 129, 123);



}

.ctt li {

 
 text-align: center;
 list-style: none;
 font-size: 45px;
 color: rgb(8, 129, 123)
 
 


}



.skk li {
  text-align: center;
  list-style: none;
  font-size: 55px;
  padding: 35px 0px;
  color: rgb(141, 1, 1);
  
  
  
}

.number li {

 text-align: center;
 list-style: none;
 font-size: 20px;
 padding: 35px; 0px;

}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
    
  }
 
 .navbar__menu {
    flex-direction: column;
    aling-items: center;
    width: 100%
 }
 .navbar__menu li{
   width: 100%;
   text-align: center;
 }
 .navbar__icons {
   justify-content: center;
   width: 100%;
 }
}
